* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Root Section  */

:root {
    --color-background-light: #ffffff;
    --color-text-dark: #333333;
    --color-accent-orange: #ff6600;
    --color-accent-orange-hover: #e65c00;
    --color-highlight-yellow: #ffff00;
    --color-highlight-yellow-hover: #cccc00;
    --color-primary-blue: #0000ff;
    --color-primary-blue-hover: #0000cc;
    --color-light-gray: #e6e6e6;
    --color-light-gray-text: rgb(65, 65, 65);
}

/* Navigation Bar  */

.nav-top {
    background-color: var(--color-light-gray);
    display: flex;
    justify-content: space-around;
    padding: 0.7rem 0;
}

.nav-top {
    color: var(--color-light-gray-text);
    font-size: 0.8rem;
}

.nav-icons {
    display: flex;
    gap: 1rem;
}

.nav-icons i {
    color: var(--color-light-gray-text);
}

.navbar {
    background-color: var(--color-background-light);
    display: flex;
    justify-content: space-around;
    padding: 2.5rem 0;
}

.navbar img {
    width: 10rem;
}

.navbar ul {
    display: flex;
    gap: 25px;
    font-weight: 500;
    justify-content: centers;
    justify-items: center;
}

.navbar ul li {
    text-decoration: none;
    list-style-type: none;
}

.navbar ul i {
    margin-left: 1rem;
}

.nav-icons i:hover,
.navbar ul i:hover,
.navbar ul li:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--color-accent-orange-hover);
}

/* Hero Section  */

.hero-container {
    background-image: url('../images/heroImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-text-container {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.inner-text {
    width: 30vw;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    gap: 20px;
}

.inner-text p {
    font-size: 0.8rem;
}

.hero-text-container img {
    width: 50%;
    height: auto;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.full-bg-btn {
    background-color: var(--color-accent-orange);
    border: none;
    padding: 0.5rem 1.5rem;
    color: var(--color-background-light);
    border-radius: 0.3rem;
}

.full-bg-btn:hover {
    background-color: var(--color-accent-orange-hover);
    transition: all 0.3s ease;
}

.no-bg-btn {
    background-color: transparent;
    border: 1px solid var(--color-background-light);
    padding: 0.5rem 1.5rem;
    color: var(--color-background-light);
    border-radius: 0.3rem;
}

.no-bg-btn:hover {
    background-color: var(--color-background-light);
    color: var(--color-accent-orange);
    transition: all 0.3s ease;
}

/* Call to Action Section  */

.cta-container {
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    background-color: var(--color-light-gray);
}

.cta-container h1 {
    font-size: 1.2rem;
    color: var(--color-light-gray-text);
}

/* Why Choose Us Section */

.wcus-container {
    height: 60vh;
    display: flex;
    padding: 2rem 7rem;
    gap: 2rem;
}

.wcus-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wcus-box-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.two-box {
    display: flex;
    /* justify-content: space-between; */
    gap: 2rem;
}

.box {
    display: flex;
    gap: 1rem;
    align-items: start;
}

.icon {
    color: var(--color-background-light);
    padding: 0.6rem;
    font-size: 1rem;
    background-color: var(--color-accent-orange);
    border-radius: 0.4rem;
}

.icon:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-accent-orange-hover);
}

.wcus-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wcus-img-container img {
    width: 100%;
    max-width: 60%;
    height: 100%;
    max-height: 85%;
    object-fit: cover;
    z-index: 10;
}

.wcus-img-container .image-back-shadow {
    position: absolute;
    border: 3px solid var(--color-light-gray);
    width: 100%;
    max-width: 60%;
    height: 100%;
    max-height: 85%;
    object-fit: cover;
    margin-bottom: 2rem;
    margin-right: 1.8rem;
}

/* Services Section  */

.services-container {
    display: flex;
    flex-direction: column;
    padding: 5rem 7rem;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    background-image: url('../images/heroImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
}

.service-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.service-box-container {
    display: flex;
    gap: 2rem;
    z-index: 1;
}

.service-text {
    color: var(--color-background-light);
    z-index: 2;
}

.service-box {
    border: 2px solid var(--color-accent-orange);
    width: 10rem;
    height: 10rem;
    padding: 1rem 1.3rem;
    text-align: center;
    color: var(--color-background-light);
    /* justify-items: center; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.service-box:hover {
    background-color: var(--color-accent-orange);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Projects Section */

.project-container {
    display: flex;
    flex-direction: column;
    padding: 5rem 7rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height: 80vh;
    position: relative;
}

.project-categories {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.project-categories li {
    transition: color 0.3s ease;
}

.project-categories li:hover {
    cursor: pointer;
    color: var(--color-accent-orange);
}

.project-box-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box {
    position: relative;
    width: 15rem;
    height: 12rem;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-box:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 102, 0, 0.863);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-box:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.overlay-icon {
    font-size: 0.8rem;
    color: white;
}

/* Second CTA Section */

.second-cta-container {
    background-image: url('../images/heroImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-cta-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.second-cta-content {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-align: start;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    max-width: 100%;
}

.text-container {
    flex: 1;
    max-width: 50%;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
}

.text-container h1 {
    font-size: 1.5rem;
    color: var(--color-background-light);
    margin-bottom: 1rem;
}

.second-cta-content img {
    flex: 1;
    max-width: 50%;
    height: auto;
}

.btn-container {
    display: flex;
    gap: 10px;
}

/* Our Location Section */

.location-container {
    background-color: var(--color-light-gray);
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-content-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
    max-width: 1200px;
    gap: 2rem;
}

.map-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem;
    height: 100%;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem;
    height: 100%;
}