* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Root Section  */

:root {
    --color-background-light: #ffffff;
    --color-text-dark: #333333;
    --color-accent-orange: #ff6600;
    --color-accent-orange-hover: #e65c00;
    --color-highlight-yellow: #ffff00;
    --color-highlight-yellow-hover: #cccc00;
    --color-primary-blue: #0000ff;
    --color-primary-blue-hover: #0000cc;
    --color-light-gray: #f5f5f5;
    --color-light-gray-hover: #d3d3d3;
}

/* Navigation Bar  */

.nav-top {
    background-color: var(--color-light-gray);
    display: flex;
    justify-content: space-around;
    padding: 0.7rem 0;
}

.nav-top {
    color: gray;
    font-size: 0.8rem;
}

.nav-icons {
    display: flex;
    gap: 1rem;
}

.nav-icons i {
    color: rgb(65, 65, 65);
}

.navbar {
    background-color: var(--color-background-light);
    display: flex;
    justify-content: space-around;
    padding: 2.5rem 0;
}

.navbar img {
    width: 10rem;
}

.navbar ul {
    display: flex;
    gap: 25px;
    font-weight: 500;
    justify-content: centers;
    justify-items: center;
}

.navbar ul li {
    text-decoration: none;
    list-style-type: none;
}

.navbar ul i {
    margin-left: 1rem;
}

.nav-icons i:hover,
.navbar ul i:hover,
.navbar ul li:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--color-accent-orange-hover);
}

/* Hero Section  */

.hero-container {
    background-image: url('../images/heroImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    background-color: rgba(19, 19, 17, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-text-container {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.inner-text {
    width: 30vw;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    gap: 20px;
}

.inner-text p {
    font-size: 0.8rem;
}

.hero-text-container img {
    width: 50%;
    height: auto;
}

.full-bg-btn {
    background-color: var(--color-accent-orange);
    border: none;
    padding: 0.5rem 1.5rem;
    color: var(--color-background-light);
    border-radius: 0.3rem;
}

.full-bg-btn:hover {
    background-color: var(--color-accent-orange-hover);
    transition: all 0.3s ease;
}

.no-bg-btn {
    background-color: transparent;
    border: 1px solid var(--color-background-light);
    padding: 0.5rem 1.5rem;
    color: var(--color-background-light);
    border-radius: 0.3rem;
}

.no-bg-btn:hover {
    background-color: var(--color-background-light);
    color: var(--color-accent-orange);
    transition: all 0.3s ease;
}